# Format Style Options - Created with Clang Power Tools
---
Language: Cpp
BasedOnStyle: Google
AccessModifierOffset: -4
AlignTrailingComments: true
AllowAllArgumentsOnNextLine: true
AlignConsecutiveMacros: true
# AlignConsecutiveAssignments: true
AllowShortCaseLabelsOnASingleLine: false
# AllowShortBlocksOnASingleLine: true
AllowShortBlocksOnASingleLine : Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortLoopsOnASingleLine : false
AllowShortIfStatementsOnASingleLine : WithoutElse
AlwaysBreakBeforeMultilineStrings: false
BreakBeforeConceptDeclarations: true
ColumnLimit: 120
IndentWidth : 4
RequiresClausePosition: OwnLine
IndentRequiresClause: true
SpacesBeforeTrailingComments: 4
TabWidth: 4
...
